<!DOCTYPE html>
<#import 'spring.ftl' as spring/>
<html>
<head>
    <meta charset="UTF-8">
    <title><@spring.message "products.head.title"/></title>
    <style>
        .error {
            color: red;
        }
        table{
            table-layout: fixed;
            width: 100%;
        }
        td{
            word-break: break-all;
            text-align: center;
            vertical-align: text-top;
        }
    </style>

</head>
<script>
    function deleteProduct(id, token) {
        let body = {
            "id": id
        }
        let request = new XMLHttpRequest();
        request.open('DELETE', '/products', false);
        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('X-CSRF-TOKEN', token);
        request.send(JSON.stringify(body));

        if (request.status === 202) {
            let json = JSON.parse(request.response);
            let html="";
            for (let i = 0; i < json.length; i++) {
                html += '<tr>'
                html +=     '<td>' + json[i]['id'] + '</td>'
                html +=     '<td>' + json[i]['name'] + '</td>'
                html +=     '<td>' + json[i]['description'] + '</td>'
                html +=     '<td>' + json[i]['price'] + '</td>'
                html +=     '<td>' + json[i]['count'] + '</td>'
                html +=     '<td><button type="button" onclick="deleteProduct('
                    + json[i]['id'] + ',\'' + token + '\')"><@spring.message "products.body.button.delete.value"/></button></td>'
                html += '</tr>'
            }

            let table = document.getElementById('table_header');
            while (table.rows.length > 2) {
                table.deleteRow(2);
            }

            document.getElementById('neededTr').insertAdjacentHTML('afterend', html);
        }
    }
</script>
<body>
<h1><@spring.message "products.body.header"/></h1>
<form method="post" action="/products">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <table id="table_header">
        <tr>
            <th><@spring.message "products.body.table.header.id"/></th>
            <th><@spring.message "products.body.table.header.name"/></th>
            <th><@spring.message "products.body.table.header.desc"/></th>
            <th><@spring.message "products.body.table.header.price"/></th>
            <th><@spring.message "products.body.table.header.count"/></th>
            <th></th>
        </tr>
        <tr id="neededTr">
            <td></td>
            <td><p><@spring.formInput "productDto.name"/></p>
                <@spring.showErrors "<br>" "error"/></td>
            <td><p><@spring.formInput "productDto.description"/></p>
                <@spring.showErrors "<br>" "error"/></td>
            <td><p><@spring.formInput "productDto.price"/></p>
                <@spring.showErrors "<br>" "error"/></td>
            <td><p><@spring.formInput "productDto.count"/></p>
                <@spring.showErrors "<br>" "error"/></td>
            <td><input type="submit" value="<@spring.message "products.body.form.submit.value"/>"></td>
        </tr>
            <#list products as product>
                <tr>
                    <td>${product.id}</td>
                    <td>${product.name}</td>
                    <td>${product.description}</td>
                    <td>${product.price}</td>
                    <td>${product.count}</td>
                    <td><button type="button" onclick="deleteProduct(${product.id},'${_csrf.token}')"><@spring.message "products.body.button.delete.value"/></button></td>
                </tr>
            </#list>
    </table>
</form>
</body>
</html>