<!doctype html>
<#import 'spring.ftl' as spring/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><@spring.message "profile.head.title"/></title>
</head>
<body>
<h1><@spring.message "profile.body.header"/></h1>
<form method="post" action="/logout">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <input type="submit" value="<@spring.message "profile.body.form.submit"/>">
</form>

</body>
</html>